:root {
    --border-radius: 30px;
    --fruit-width: 150px;
    --fruit-1-pos: 2;
    --fruit-2-pos: 3;
    --fruit-3-pos: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.fill {
    height: calc(100vh - 4px);
    width: 100%;
}

html,
body {
    background-color: orange;
}

#settings {
    background-image: url('/assets/img/cog-white.svg');
    background-position: center center;
    background-size: 50px 50px;
    cursor: pointer;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 50px;
    z-index: 10;
    transition: 300ms ease-in-out;
}

#settings:hover {
    transform: rotate3d(0, 0, 1, 90deg);
}

#settings-background {
    display: none;
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    transition: 1000ms ease-in-out;
}

#settings-panel {
    border: solid 2px;
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: calc(50vh - 250px);
}

#settings-panel form {
    margin: auto;
    margin: 25%;
    line-height: 2.5em;
    font-size: 2em;
}

input[type='radio'] {
    border: 0px;
    width: 20%;
    height: 1em;
}

#close {
    border: solid 2px white;
    text-align: center;
    font-size: 3em;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    margin-left: calc(50% - 0.6em);
    transition: 300ms ease-in-out;
}
#close:hover {
    cursor: pointer;
    transform: rotate3d(0, 0, 1, 90deg);
}

#confetti {
    background-image: url('/assets/img/confetti.gif');
    background-position: center center;
    background-size: 300px 300px;
    height: 100%;
    width: 100%;
    position: absolute;
    /* Hidden at start */
    transform: translateY(-100%) scale3d(0.1, 0.1, 1);
    transition: 3000ms ease-in-out;
}

#slot {
    width: calc(100% - 6px);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    align-items: center;
    z-index: 5;
}

#game-results {
    font-weight: 900;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: calc(50vh - 200px);
    position: absolute;
    width: 100%;
    z-index: 10;
}

#handle {
    background-image: url(/assets/img/handle.png);
    background-size: 70px 300px;
    transform: rotate3d(1, 0, 0, 0deg);
    transform-origin: bottom left;
    cursor: pointer;
    margin-top: -380%;
    margin-left: 55px;
    height: 300px;
    width: 70px;
    transition: 500ms ease-in-out;
}

#handle:hover {
    filter: saturate(2);
}

#handle:active {
    transform: rotate3d(1, 0, 0, 30deg);
}

#handle-base {
    background-image: url(/assets/img/handle-base.png);
    background-size: 60px 102px;
    left: calc(50% + 280px);
    top: 4%;
    height: 102px;
    width: 60px;
    z-index: 10;
    transition: 500ms ease-in-out;
}

.fruits {
    border: solid 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    width: 500px !important;
    padding: 30px;
    background-color: #c34803;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
    );
    transition: 500ms ease-in-out;
}

.fruit-frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    width: 485px;
    border-top: solid 15px;
    border-bottom: solid 15px;
    border-radius: 20px;
    background-color: whitesmoke;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
    );
    transition: 500ms ease-in-out;
}

.fruit {
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    border: solid 15px black;
    margin: -15px -8px;
    background: url('/assets/img/sprite.png') 0 0;
    background-position: center center;
    transition: ease-in;
}

#f-1 {
    background: url('/assets/img/sprite.png') 0
        calc(var(--fruit-width) * var(--fruit-1-pos));
    background-size: 150px auto;
}

#f-2 {
    background: url('/assets/img/sprite.png') 0
        calc(var(--fruit-width) * var(--fruit-2-pos));
    background-size: 150px auto;
}

#f-3 {
    background: url('/assets/img/sprite.png') 0
        calc(var(--fruit-width) * var(--fruit-3-pos));
    background-size: 150px auto;
}

#info {
    padding: 1em;
    font-size: 0.9em;
    position: fixed;
    bottom: 60px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    user-select: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

div#info:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#toggle-info {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #c34803;
    color: antiquewhite;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 5;
    user-select: none;
}

#toggle-info:active {
    color: yellowgreen;
    bottom: 19px;
    left: 21px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
#toggle-info:hover {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

#copy {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    user-select: none;
}
